body{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  }
  .top-area{
    background-image: url("images/header-bg.png");
    
  }
 .half-width{
   width: 40%;
   float: left;
   padding-left: 2%;
   margin-left: 5%;
   text-align: left;
   
 } 
 h1{
   font-size: 45px;
   font-weight: 800;
 }
 .half-width img{
   width: 100%;
 }
p{
  color: gray;
}
span{
   color: hotpink;   
   font-size: 50px;
   font-weight: 800;
 }
 .text-area{
  margin-top: 15%;
 }
 .image-area{
   margin-top: 5%;
 }
 .link-button{
   background-image: linear-gradient(45deg,hotpink,tomato);
   padding:10px 20px;
   color: white;
   text-decoration: none;
   font-weight: 700;
 }
 
 .bio-area{
   background-image: url("images/biography-bg.png");
 }
 
 .work-area h1{
   text-align: center;
 }
 section{
   height: 800px;
   padding-bottom: 150px;
   
 }
.work-story-div {
  width: 25%;
  float: left;
  padding-left: 2%;
  margin-left: 5%;
  
}
.work-story-div img{
  width: 100%;
}
.work-area{
  height: 450px;
  background-image: url("images/latest-work-bg.png");
}
.client-area{
  text-align: center;
  height: 500px;
}
.client-div{
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}
.client-div q{
  text-align: justify;
  font-weight: 800;
  color: gray;
}
.mail-area{
  background-image: linear-gradient(45deg,hotpink,tomato);
  margin-top: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 10px;
}
.mail-area a{
  text-decoration: none;
  color: white;
  font-size: 25px;
}
footer{
  background-image: url("images/footer-bg.png");
}
footer p{
  text-align: center;
  padding-bottom: 10px;
  color: gray;
  
}
